<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile Edit</title>
    <link rel="stylesheet" href="/stylesheets/offer.css" />
  </head>
  <body>
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100%;
      "
    >
      <div
        style="
          width: 100%;
          max-width: 40%;
          border-radius: 8px;
          box-shadow: 0px 4px 12px rgba(14, 30, 37, 0.12);
          padding: 24px;
          background-color: #1c1c1c;
          color: white;
          margin: 12px;
          border: 2px solid white;
        "
      >
        <div
          style="
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            position: relative;
          "
        >
          <div
            style="
              display: flex;
              justify-content: space-between;
              align-items: flex-end;
              width: 100%;
              margin-bottom: 20px;
              position: relative;
            "
          >
            <div
              id="MyClockDisplay"
              class="clock"
              style="
                position: absolute;
                top: 8;
                left: 20%;
                transform: translateX(-50%);
                width: max-content;
              "
            >
            OFFER VALID FOR ONLY FOR <%= seconds %> SEC!
          </div>
            <a
              href="javascript:history.go(-1)"
              style="
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #ff1500eb;
                color: white;
                font-weight: bold;
                border: none;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                text-decoration: none; /* Remove underline from the anchor tag */
                margin-left: 95%;
              "
              >X
            </a>
          </div>
        </div>
        <div style="display: flex; align-items: center; margin-bottom: 30px">
          <div style="margin-right: 12px">
            <svg
              aria-hidden="true"
              class="pre-logo-svg"
              focusable="false"
              viewBox="0 0 20 20"
              role="img"
              width="80px"
              height="80px"
              fill="none"
            >
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="M21 8.719L7.836 14.303C6.74 14.768 5.818 15 5.075 15c-.836 0-1.445-.295-1.819-.884-.485-.76-.273-1.982.559-3.272.494-.754 1.122-1.446 1.734-2.108-.144.234-1.415 2.349-.025 3.345.275.2.666.298 1.147.298.386 0 .829-.063 1.316-.19L21 8.719z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </div>
          <button
            style="
              background: transparent;
              color: #ffffff;
              border: none;
              border-radius: 4px;
              padding: 8px 16px;
              margin-left: 18px;
            "
          >
            <h1 style="line-height: 1.1; font-size: 30px; margin-bottom: 16px">
              Welocome To Nike
            </h1>
          </button>
        </div>
        <label
          style="line-height: 1.1; font-size: 20px; margin-bottom: 16px"
          for="userName"
          >Todays Cupon Code</label
        >
        <input
          type="text"
          id="userName"
          placeholder="WELCOME-TO-NIKE"
          style="
            width: 85%;
            padding: 8px;
            margin-bottom: 16px;
            border: 1px solid #cbd5e0;
            border-radius: 4px;
            margin-top: 10px;
          "
          readonly
        />

        <div
          style="
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
          "
        >
          <a
            href="javascript:history.go(-1)"
            style="
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #04ff00c2;
              color: white;
              border: 2px solid white;
              border-radius: 4px;
              padding: 8px 16px;
              font-weight: bold;
              cursor: pointer;
              width: 100%;
              margin-top: 5px;
            "
          >
            GET
          </a>
        </div>
      </div>
    </div>
    <script src="/javascripts/offer.js"></script>
  </body>
</html>
